{% extends 'base.html' %}
{% block title %}Add Pet{% endblock %}
{% block content %}
<div class="container">
    <h1>Add a Pet</h1>
    <form action = '/add' method = "POST">
        {{form.hidden_tag()}}
        {% for field in form 
            if field.widget.input_type != 'hidden' and field.widget.input_type != 'checkbox' %}
            <div class = form-group>
                {{field.label(class_="form-label")}}
                {{field(class_="form-control")}}

                {% for err in field.errors %}
                    <small class="text-danger">{{err}}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <div class = form-group>
            {{form.available.label(class_="form-label")}}
            {{form.available()}}
        </div>
        <a href="/"><button type="button" class="btn btn-secondary">Cancel</button></a>
        <input type="submit" value="Add" class="btn btn-success">
    </form>
</div>
{% endblock %}
