{% extends 'base.html' %}

{% block title %}Welcome to the Pet Adoption Agency!{% endblock %}

{% block content %}

<h1>Available Pets <a href="/add"><button class="btn btn-success" type="button">Register new pet</button></a></h1>
<div class="">
{% for pet in pets %}
<div class="card" style="width: 18rem; display: inline-block; margin: 5px 20px">
    <img src="{{pet.photo_url}}" style="max-width: 200px;" class="card-img-top" alt="Photo of {{pet.name}}">
    <div class="card-body text-bg-primary">
        <h5 class="card-title">{{pet.name}}</h5>
        <p class="card-text">
            <p bg-info>Age: {{pet.age}}, Species: {{pet.species}}</p>
            {{pet.notes}}</p>
        <a href="/{{pet.id}}" class="btn btn-info">Adopt Me! {{i}}</a>
        {%if pet.available %}<p><em>Available</em></p>{% endif %}
    </div>
</div>
{% endfor %}
</div>

{% endblock %}